.trades-without-order-list .height-search{
    height: 150px;
    overflow:inherit !important
}
.trades-without-order-list .height-open-grid{
    height: calc(100% - 190px) !important;
    overflow: inherit;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  }
  /* .trades-without-order-list .k-grid-header{
    height: 32px;
  } */
  /* .trades-without-order-list .k-grid-footer{
      height: 70px;
  } */
  .trades-without-order-list .k-grid-footer tbody tr td div:first-child{
    margin-bottom: 15px;
}
/* .trades-without-order-list .k-grid-footer tbody tr td div{
    text-align: left !important;

} */
  .trades-without-order-list .k-grid-content{
    height: calc(100% - 108px) !important;
}
#sendToOrder {
  background-color: #079169 !important;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
  margin: 5px;
}
#sendToOrder:hover{
  background-color: #05664a !important
}
#sendToOrder:disabled{
  background-color: #07916a38 !important;
  cursor: default;
} 
#sendToOrderCustomerPanel {
  background-color: #077191 !important;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
  margin: 5px;
}
#sendToOrderCustomerPanel:hover{
  background-color: #054766 !important
}
#sendToOrderCustomerPanel:disabled{
  background-color: #07759138 !important;
  cursor: default;
} 
