.branchOperationalReport .height-search{
    height: 101px;
    overflow:inherit !important
}
.branchOperationalReport .height-open-grid{
  height: calc(100% - 197px) !important;
  overflow: inherit;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
/* .branchOperationalReport .k-grid-header{
  height: 32px;
}
.branchOperationalReport .k-grid-footer{
    height: 70px;
} */
.branchOperationalReport .k-grid-footer tbody tr td div:first-child{
    margin-bottom: 15px;
}
/* .branchOperationalReport .k-grid-footer tbody tr td div{
    text-align: left !important;

} */
.branchOperationalReport .k-grid-content{
    height: calc(100% - 79px) !important;
}
.branchOperationalReport .height-content-grid{
  height: calc(100% - 96px) !important;
}