/* .managed-customer-contact-tab .height-search{
    height: 100px;
    overflow: inherit;
/* } */
/* .managed-customer-contact-tab .k-grid-content{
    height: 200px !important;
}

.managed-customer-contact-tab .height-open-grid{
    height: 200px !important;
} */ 


.managed-customer-contact-tab  .k-grid{
    height: 95% !important;
}