.subsidiary-account-book .height-search {
    height: 285px !important;
    overflow: inherit !important
}

.subsidiary-account-book .height-open-grid {
    height: calc(100% - 426px) !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.subsidiary-account-book .height-open-grid .k-auto-scrollable {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: calc(100% - 1px) !important;
}

.subsidiary-account-book .height-content-grid {
    height: calc(100% - 91px) !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.subsidiary-account-book .height-content-grid .k-auto-scrollable {
    height: calc(100% - 51px) !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#detail-account-book-grid .k-grid-content, #detail-account-book-grid .k-grid-footer {
    font-size: 12px;
}