.removed-order-list .height-search{
    height: 195px !important ;
    overflow:inherit !important;
}
.removed-order-list .height-open-grid{
    height: calc(100% - 263px) !important;
    overflow: inherit;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .removed-order-list .height-content-grid{
    height: calc(100% - 68px) !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;  
  }

  /* .removed-order-list .k-grid-header{
    height: 32px;
  } */
  /* .removed-order-list .k-grid-footer{
      height: 70px;
  } */
  .removed-order-list .k-grid-footer tbody tr td div:first-child{
    margin-bottom: 15px;
} 
/* .removed-order-list .k-grid-footer tbody tr td div{
    text-align: left !important;

} */
  .removed-order-list .k-grid-content{
    height: calc(100% - 132px) !important;
}
