.active-orders .height-search{
  height: 295px;
  overflow:inherit !important
}
.active-orders .height-open-grid{
  height: calc(100% - 378px) !important;
  overflow: inherit;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}

.active-orders .height-content-grid{
  height: calc(100% - 83px) !important;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;  
}

.active-orders .k-grid-header{
  height: 32px;
}
/* .active-orders .k-grid-footer{
    height: 70px;
} */
.active-orders .k-grid-footer tbody tr td div:first-child{
  margin-bottom: 15px;
} 
/* .active-orders .k-grid-footer tbody tr td div{
  text-align: left !important;

} */
.active-orders .k-grid-content{
  height: calc(100% - 20px) !important;
}


#assignToNotEntered {
background-color: #fa9a00 !important;
padding: 10px 20px;
border-radius: 5px;
color: #FFF;
margin: 5px;
}
#assignToNotEntered:hover{
background-color: #fa9a00 !important
}
#assignToNotEntered:disabled{
background-color: #f6a0004d !important;
cursor: default;
} 
#assignToDone {
background-color: #079169 !important;
padding: 10px 20px;
border-radius: 5px;
color: #FFF;
margin: 5px;
}
#assignToDone:hover{
background-color: #05664a !important
}
#assignToDone:disabled{
background-color: #07916a38 !important;
cursor: default;
} 

#backToWaitingList {
background-color: #fa9a00 !important;
padding: 10px 20px;
border-radius: 5px;
color: #FFF;
margin: 5px;
}
#backToWaitingList:hover{
background-color: #f6a000 !important
}
#backToWaitingList:disabled{
background-color: #917c0759 !important;
cursor: default;
} 