.btn-access{
    font-size: 10px !important;
    background-color: #4caf50!important;
    color: #fff!important;
    margin: 0!important;
}
.btn-delete-access{
    font-size: 10px!important;
    background-color: #f44336!important;
    color: #fff!important;
    margin: 0!important;
}