.orders-waiting-list .height-search{
    height: 246px !important;
    overflow:inherit !important
}
.orders-waiting-list .height-open-grid{
    height: calc(100% - 286px) !important;
    overflow: inherit !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  }
  
  /* .orders-waiting-list .k-grid-header{
    height: 32px;
  } */
  /* .orders-waiting-list .k-grid-footer{
      height: 70px;
  } */
  .orders-waiting-list .k-grid-footer tbody tr td div:first-child{
    margin-bottom: 15px;
} 
/* .orders-waiting-list .k-grid-footer tbody tr td div{
    text-align: left !important;

} */
  .orders-waiting-list .k-grid-content{
    height: calc(100% - 63px) !important;
}


#assignToBranch {
  background-color: #079169 !important;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
  margin: 5px;
}
#assignToBranch:hover{
  background-color: #05664a !important
}
#assignToBranch:disabled{
  background-color: #07916a38 !important;
  cursor: default;
} 