.mostActiveCustomer .height-search{
    height: 101px;
    overflow:inherit !important
}

.mostActiveCustomer .height-open-grid {
    height: calc(100% - 153px) !important;
    overflow: inherit;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mostActiveCustomer .height-content-grid {
    height: calc(100% - 52px) !important;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* .mostActiveCustomer .k-grid-header{
    height: 32px;
} */
/* .mostActiveCustomer .k-grid-footer{
    height: 70px;
} */
.mostActiveCustomer .k-grid-footer tbody tr td div:first-child{
    /*margin-bottom: 15px;*/
}
/* .mostActiveCustomer .k-grid-footer tbody tr td div{
    text-align: left !important;

} */
.mostActiveCustomer .k-grid-content{
    height: calc(100% - 149px) !important;
}

