.legal-party-bank-account-managed-realCustomer-tab .k-grid{
    height: 100% !important;
}

.legal-party-bank-account-managed-realCustomer-tab .main-paper-container-server{
    height: 100%;
    padding-bottom: 5px;

}
